In [1]:
import io
import os

import pandas as pd
import dropbox

import sys
sys.path.append("../src")

import constants as c
import utilities as u

In [2]:
dbx = dropbox.Dropbox(os.environ[c.io.VAR_DROPBOX_TOKEN])

In [3]:
def get_data_without_transactions(dbx):
    
    _, res = dbx.files_download(c.io.FILE_DATA)
    
    dfs = {x: pd.read_excel(io.BytesIO(res.content), sheet_name=x) for x in c.dfs.ALL_FROM_DATA}
    
    return dfs

In [4]:
dfs = get_data_without_transactions(dbx)

In [5]:
dfs["liquid_m"]

,Date,Total,CC - Caixa enginyers,Diposit - Caixa enginyers,C. sin nómina - ING,C. nómina - ING,C. Naranja - ING,Diposit - ING,DeGiro líquid,Kraken líquid,Bunq,Revolut
0,2011-12-01,2043.42,43.42,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-01-01,2089.23,89.23,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-02-01,2353.79,353.79,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012-03-01,2553.06,553.06,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-04-01,2534.36,534.36,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2012-05-01,2875.41,875.41,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2012-06-01,2939.98,939.98,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2012-07-01,2637.97,637.97,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2012-08-01,2346.19,346.19,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2012-09-01,2293.29,293.29,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2012-10-01,2060.00,60.00,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2012-11-01,2039.05,39.05,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2012-12-01,2111.30,111.30,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2013-01-01,2196.01,196.01,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2013-02-01,2039.16,39.16,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2013-03-01,2027.60,27.60,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2013-04-01,2198.26,198.26,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2013-05-01,2528.91,528.91,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2013-06-01,2720.90,720.90,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2013-07-01,3349.97,1349.97,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2013-08-01,2768.04,768.04,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2013-09-01,2411.74,411.74,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2013-10-01,2212.75,222.75,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2013-11-01,2153.81,163.81,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2013-12-01,2119.63,129.63,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2014-01-01,2111.27,121.27,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2014-02-01,2109.01,119.01,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2014-03-01,2206.63,216.63,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2014-04-01,2324.28,334.28,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2014-05-01,2469.90,479.90,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
51,2016-03-01,4733.59,511.24,NaN,842.03,NaN,1500.25,NaN,1880.07,NaN,NaN,NaN
52,2016-04-01,3415.23,511.24,NaN,598.44,NaN,1500.45,NaN,805.10,NaN,NaN,NaN
53,2016-05-01,5315.54,511.24,NaN,986.51,NaN,2500.28,NaN,1317.51,NaN,NaN,NaN
54,2016-06-01,5500.38,511.24,NaN,994.56,NaN,2500.31,NaN,1494.27,NaN,NaN,NaN
55,2016-07-01,7910.73,511.24,NaN,2688.57,NaN,3000.37,NaN,1710.55,NaN,NaN,NaN
56,2016-08-01,7711.39,1011.24,NaN,1874.28,NaN,3000.78,NaN,1825.09,NaN,NaN,NaN
57,2016-09-01,7776.24,1063.99,NaN,2521.22,NaN,2000.38,NaN,2190.65,NaN,NaN,NaN
58,2016-10-01,7089.59,763.99,NaN,2133.92,NaN,2000.66,NaN,2191.02,NaN,NaN,NaN
59,2016-11-01,7312.37,302.25,NaN,2201.04,NaN,2000.93,NaN,2808.15,NaN,NaN,NaN
60,2016-12-01,9712.90,305.15,NaN,2986.51,NaN,3000.33,NaN,3420.91,NaN,NaN,NaN
61,2017-01-01,9690.50,305.15,NaN,2215.59,NaN,4000.28,NaN,3169.48,NaN,NaN,NaN
62,2017-02-01,10806.22,1075.15,NaN,2565.00,NaN,4000.53,NaN,3165.54,NaN,NaN,NaN
63,2017-03-01,10866.36,1075.15,NaN,1863.43,NaN,4000.81,NaN,3926.97,NaN,NaN,NaN
64,2017-04-01,8945.10,1075.15,NaN,629.80,NaN,4301.09,NaN,2918.96,NaN,20.1,NaN
65,2017-05-01,10815.62,1075.15,NaN,2096.07,NaN,4701.41,NaN,2922.89,NaN,20.1,NaN
66,2017-06-01,10170.24,1075.15,NaN,1124.24,NaN,5101.41,NaN,2715.05,NaN,20.1,134.29
67,2017-07-01,12985.15,1075.15,NaN,2197.21,NaN,4501.74,NaN,4737.45,NaN,20.1,453.50
68,2017-08-01,12846.74,1085.15,NaN,1668.04,NaN,4902.06,NaN,4740.13,NaN,20.1,431.26
69,2017-09-01,13975.84,1093.15,NaN,2466.93,NaN,5302.39,NaN,4538.30,160.93,0.1,414.04
70,2017-10-01,13698.87,1093.15,NaN,1409.83,NaN,4702.74,NaN,4338.62,144.29,0.1,2010.14
71,2017-11-01,12107.41,1093.15,NaN,1589.51,NaN,3003.10,NaN,4077.09,186.13,200.1,1958.33
72,2017-12-01,13827.73,1093.15,NaN,2504.20,NaN,4000.00,NaN,3860.89,419.06,0.1,1950.33
73,2018-01-01,13956.75,1093.15,NaN,2766.43,NaN,4400.11,NaN,3724.52,22.11,0.1,1950.33
74,2018-02-01,14748.26,1093.15,NaN,2421.93,NaN,5800.26,NaN,3341.27,191.91,0.1,1899.64
75,2018-03-01,15274.22,1093.15,NaN,922.27,1560.05,6200.41,NaN,3306.48,311.78,0.1,1879.98
76,2018-04-01,15782.74,1093.15,NaN,747.02,1971.84,6600.62,NaN,3311.19,261.70,0.1,1797.12
77,2018-05-01,16605.09,1093.15,NaN,2206.45,2195.23,5000.84,NaN,3318.17,261.70,0.1,2529.45
78,2018-06-01,16114.61,1093.15,NaN,2502.50,1111.57,5401.06,NaN,3631.20,211.62,0.1,2163.41
79,2018-07-01,18509.86,1093.15,NaN,2702.17,2447.06,6801.24,NaN,3095.94,211.62,0.1,2158.58
80,2018-08-01,18353.59,1093.15,NaN,2840.38,1547.06,7101.45,NaN,3401.25,211.62,0.1,2158.58